<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773182594202-2kipisntopj2228p9ugvn5ce5v2u8h85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773182594202-2kipisntopj2228p9ugvn5ce5v2u8h85</string>
	<key>API_KEY</key>
	<string>AIzaSyDGEmH-TREErJ0NCITDydbjNQx21fMMrTs</string>
	<key>GCM_SENDER_ID</key>
	<string>773182594202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kcc.iosHackthonApp</string>
	<key>PROJECT_ID</key>
	<string>ios-hackathon-20</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-hackathon-20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773182594202:ios:60c2c00c441ebc0608d323</string>
	<key>DATABASE_URL</key>
	<string>https://ios-hackathon-20.firebaseio.com</string>
</dict>
</plist>