name: Android CI

on:
  workflow_dispatch: # This allows you to manually run the workflow from GitHub's web UI
  push:
    branches: [ main ]
  pull_request:
    branches: [ '*' ]

jobs:
  test:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Run unit tests
      run: ./gradlew test
    - name: Ensure installs onto an emulator
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 30
        script: ./gradlew installDebug
        target: google_apis
    - name: Archive tests results
      if: ${{ failure() }}
      uses: actions/upload-artifact@v2
      with:
        name: failure-test.html
        path: '**/build/reports/tests/testDebugUnitTest/index.html'